.clickable :hover {
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

.intro-button {
    cursor: pointer;
    height: 5vh;
    text-align: center;
    background: white;
    border: 0.5px solid black
}

.intro-button:hover{
    height: 5vh;
    text-align: center;
    background: black;
    border: 3px solid black;
    color: white
}

.tooltip {
    position: absolute;
    text-align: center;
    font: 12px sans-serif;
    width: 15vw;
    /*  pointer-events: none;	This line needs to be removed */
}
.tooltip h3,h4 {
    text-align: left;
    font: 3.5vh sans-serif;
}
.tooltip h3 {
    font: 2vh sans-serif;
}
.tooltip h4 {
    font: 14px sans-serif;
}

#lockedIcon {
    position: absolute;
    text-align: center;
    font: 12px sans-serif;
}

#course-work-sort-button{
    fill: white;
    stroke: black;
}

#course-work-sort-button:hover{
    fill: green;
    stroke: black;
}



/*ICONS*/


.cv-icon {
    display: block;
    max-width:5vw;
    max-height:3vh;
    width: auto;
    height: auto;
    transition: all 0.5s ease-in-out;
}


#github-icon:hover {
    content: url("/static/img/github_icon_hover.png");
    cursor: pointer;
}

#adobe-icon:hover {
    content: url("/static/img/pdf_icon_red.png");
    cursor: pointer;
}

#linkedin-icon:hover {
    content: url("/static/img/linkedin_icon_blue.png");
    cursor: pointer;
}


.presentation {
    fill: red
}